/* ============= Common styles ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}
body {
  background-color: #fff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  max-width: 288px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.section-title {
  margin-bottom: 72px;
  color: #2e2f42;

  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.section-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============= /Common styles ============= */

/* ============= Page Header styles ============= */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent-color {
  color: #2e2f42;
}
/* Mob */
@media screen and (max-width: 767px) {
  .contacts-list,
  .menu {
    display: none;
  }

  .mobile-menu-open-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .header-container {
    padding: 0;
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
    min-width: 496px;
  }

  .logo {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link.active {
    position: relative;
    color: #404bbf;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .menu-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    color: #404bbf;
  }

  .contacts-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list-link:hover,
  .contacts-list-link:focus {
    color: #404bbf;
  }
}
/* Desktop */
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    gap: 40px;
  }
}
/* ============= /Page Header styles ============= */

/* ============= Mobile menu styles ============= */
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 11px;
    right: 8px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:active,
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border: none;
    background-color: #404bbf;
  }
  .mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn:hover .mobile-menu-close-icon,
  .mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: #ffffff;
  }

  .mobile-menu-list {
    margin-bottom: 168px;
  }

  .mobile-menu-link {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }

  .mobile-menu-contacts-list {
    margin-bottom: 48px;
  }

  .mobile-menu-contacts-list-link {
    color: #434455;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-contacts-list-link:hover,
  .mobile-menu-contacts-list-link:focus {
    color: #404bbf;
  }

  .mobile-menu-media-list {
    display: flex;
    gap: 40px;
  }

  .mobile-menu-media-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    fill: #f4f4fd;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-media-list-link:hover,
  .mobile-menu-media-list-link:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ============= /Mobile menu styles ============= */
